In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
# Import data
data = pd.read_csv("../adult.csv")

In [3]:
cols = []
for col in data.columns:
    if data[col].dtype == "object":
        cols.append(col)
print (cols)

['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country', 'income']

In [4]:
# Create Label Encoder
le = LabelEncoder()

In [5]:
for col in cols:
    data[col] = le.fit_transform(data[col].values)

In [6]:
data.dtypes

age                int64
workclass          int64
fnlwgt             int64
education          int64
educational-num    int64
marital-status     int64
occupation         int64
relationship       int64
race               int64
gender             int64
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country     int64
income             int64
dtype: object

In [7]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,4,226802,1,7,4,7,3,2,1,0,0,40,39,0
1,38,4,89814,11,9,2,5,0,4,1,0,0,50,39,0
2,28,2,336951,7,12,2,11,0,4,1,0,0,40,39,1
3,44,4,160323,15,10,2,7,0,2,1,7688,0,40,39,1
4,18,0,103497,15,10,4,0,3,4,0,0,0,30,39,0

In [8]:
# Save the data
data.to_csv("data.csv", index = False)