In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Import data
data = pd.read_csv("data.csv")
data.head()

      Na    Mg    Al   Ba  Type
0  13.64  4.49  1.10  0.0     1
1  13.89  3.60  1.36  0.0     1
2  13.53  3.55  1.54  0.0     1
3  13.21  3.69  1.29  0.0     1
4  13.27  3.62  1.24  0.0     1

In [3]:
X = data.drop(["Type"], axis = 1)
y = data["Type"]

In [4]:
# split train and test parts
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=1)

In [5]:
print (x_train.shape, y_train.shape)
print (x_test.shape, y_test.shape)

(171, 4) (171,)
(43, 4) (43,)

In [6]:
# Save datas
x_train.to_csv("x_train.csv", index = False)
x_test.to_csv("x_test.csv", index = False)
y_train.to_csv("y_train.csv", index = False)
y_test.to_csv("y_test.csv", index = False)