In [1]:
# Import necessary libraries
import pandas as pd

In [2]:
# Read the data
data = pd.read_csv("./data.csv")
print (data.shape)
data.head()

(8950, 17)

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,-0.731989,-0.249434,-0.424900,-0.356934,-0.349079,-0.466786,-0.806490,-0.678661,-0.707313,-0.675349,-0.476070,-0.511333,-0.960380,-0.528979,-0.305482,-0.525551,0.36068
1,0.786961,0.134325,-0.469552,-0.356934,-0.454576,2.605605,-1.221758,-0.678661,-0.916995,0.573963,0.110074,-0.591796,0.688601,0.818642,0.087735,0.234227,0.36068
2,0.447135,0.518084,-0.107668,0.108889,-0.454576,-0.466786,1.269843,2.673451,-0.916995,-0.675349,-0.476070,-0.109020,0.826016,-0.383805,-0.099870,-0.525551,0.36068
3,0.049099,-1.016953,0.232058,0.546189,-0.454576,-0.368653,-1.014125,-0.399319,-0.916995,-0.258913,-0.329534,-0.551565,0.826016,-0.598688,NaN,-0.525551,0.36068
4,-0.358775,0.518084,-0.462063,-0.347294,-0.454576,-0.466786,-1.014125,-0.399319,-0.916995,-0.675349,-0.476070,-0.551565,-0.905414,-0.364368,-0.261102,-0.525551,0.36068

In [3]:
wo_data = pd.read_csv("./wo_data.csv")
print (wo_data.shape)
wo_data.head()

(5650, 17)

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,-0.810966,-0.062275,-0.630625,-0.529667,-0.357800,-0.501317,-0.662280,-0.628865,-0.628196,-0.696110,-0.642010,-0.651988,-0.914847,-0.771036,-0.678082,-0.506436,0.394642
1,2.237798,0.276522,-0.817155,-0.529667,-0.718962,6.095218,-1.110580,-0.628865,-0.851814,1.305085,1.049459,-0.890827,1.495470,4.389703,2.056376,0.287007,0.394642
2,0.756797,-0.739870,2.113752,2.947338,-0.718962,-0.290623,-0.886431,-0.148039,-0.851814,-0.029048,-0.219142,-0.771407,1.696330,-1.037989,NaN,-0.506436,0.394642
3,-0.061869,0.615320,-0.785871,-0.492554,-0.718962,-0.501317,-0.886431,-0.148039,-0.851814,-0.696110,-0.642010,-0.771407,-0.834503,-0.140655,-0.369465,-0.506436,0.394642
4,0.908179,0.615320,0.035721,-0.529667,0.932390,-0.501317,1.579218,-0.628865,1.831615,-0.696110,-0.642010,0.542207,-0.392612,-0.139689,0.472546,-0.506436,0.394642

In [4]:
cols: list = []
for col in data.columns:
    if data[col].isnull().any():
        print (data[col].isnull().sum())
        cols.append(col)

print (cols)

1
313
['CREDIT_LIMIT', 'MINIMUM_PAYMENTS']

In [5]:
wo_cols: list = []
for col in wo_data.columns:
    if wo_data[col].isnull().any():
        print (wo_data[col].isnull().sum())
        wo_cols.append(col)

print (wo_cols)

1
267
['CREDIT_LIMIT', 'MINIMUM_PAYMENTS']

In [6]:
print (data.shape[0])
print (wo_data.shape[0])

8950
5650

The dataset has a few missing values and we can delete all of them

In [7]:
# Remove missing values
rows: set = set()
for col in cols:
    for v in (list(data[data[col].isnull()].index)): rows.add(v)

print (len(rows))

314

In [8]:
wo_rows: set = set()
for col in wo_cols:
    for v in (list(wo_data[wo_data[col].isnull()].index)): wo_rows.add(v)

print (len(wo_rows))

268

In [9]:
data.drop(list(rows), axis = 0, inplace = True)
print (data.shape)

(8636, 17)

In [10]:
wo_data.drop(list(wo_rows), axis = 0, inplace = True)
print (wo_data.shape)

(5382, 17)

In [11]:
# Save changes
data.to_csv("data.csv", index = False)
wo_data.to_csv("wo_data.csv", index = False)