In [1]:
# import necessary libraries
import pandas as pd

In [2]:
# import data
data = pd.read_csv("../car_evaluation.csv")
data.head(5)

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [3]:
print (data.dtypes)

vhigh      object
vhigh.1    object
2          object
2.1        object
small      object
low        object
unacc      object
dtype: object

type of all columns are object and we should convert all of them to numbers

In [4]:
values: dict = {}
for col in data.columns:
    if not values.get(col, False):
        values[col] = list(data[col].unique())
print (values)

{'vhigh': ['vhigh', 'high', 'med', 'low'], 'vhigh.1': ['vhigh', 'high', 'med', 'low'], '2': ['2', '3', '4', '5more'], '2.1': ['2', '4', 'more'], 'small': ['small', 'med', 'big'], 'low': ['med', 'high', 'low'], 'unacc': ['unacc', 'acc', 'vgood', 'good']}

In [5]:
tmp_dict: dict
length: int
for val in values.keys():
    tmp_dict = {}
    length = len(values.get(val))
    for i in range(length):
        tmp_dict[values.get(val)[i]] = length - i
    
    values[val] = tmp_dict

print (values)

{'vhigh': {'vhigh': 4, 'high': 3, 'med': 2, 'low': 1}, 'vhigh.1': {'vhigh': 4, 'high': 3, 'med': 2, 'low': 1}, '2': {'2': 4, '3': 3, '4': 2, '5more': 1}, '2.1': {'2': 3, '4': 2, 'more': 1}, 'small': {'small': 3, 'med': 2, 'big': 1}, 'low': {'med': 3, 'high': 2, 'low': 1}, 'unacc': {'unacc': 4, 'acc': 3, 'vgood': 2, 'good': 1}}

In [6]:
x: int
for col in data.columns:
    for i in range(data.shape[0]):
        x = values.get(col).get(data[col][i])
        try:
            data[col][i] = int(x)
        except:
            print (f"{col}: {i}")
        # data[col].astype(int)

In [7]:
data = data.convert_dtypes(int)
data.head()

   vhigh  vhigh.1  2  2.1  small  low  unacc
0      4        4  4    3      3    3      4
1      4        4  4    3      3    2      4
2      4        4  4    3      2    1      4
3      4        4  4    3      2    3      4
4      4        4  4    3      2    2      4

In [8]:
print (data.head())

   vhigh  vhigh.1  2  2.1  small  low  unacc
0      4        4  4    3      3    3      4
1      4        4  4    3      3    2      4
2      4        4  4    3      2    1      4
3      4        4  4    3      2    3      4
4      4        4  4    3      2    2      4

In [9]:
print (data.dtypes)

vhigh      Int64
vhigh.1    Int64
2          Int64
2.1        Int64
small      Int64
low        Int64
unacc      Int64
dtype: object

In [10]:
# save data
data.to_csv("numeric.csv", index = False)