In [1]:
# import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# import data
data = pd.read_csv("numeric.csv")
data.head()

   vhigh  vhigh.1  2  2.1  small  low  unacc
0      4        4  4    3      3    3      4
1      4        4  4    3      3    2      4
2      4        4  4    3      2    1      4
3      4        4  4    3      2    3      4
4      4        4  4    3      2    2      4

In [3]:
# split train and test data
x_train, x_test = train_test_split(data.drop(["unacc"], axis=1) \
                                   , test_size = 0.1, random_state = 1)
print (x_train.shape)
print (x_test.shape)

x_train.head()

(1554, 6)
(173, 6)

      vhigh  vhigh.1  2  2.1  small  low
267       4        2  3    1      1    3
861       3        1  1    1      1    3
1041      2        3  2    2      1    3
764       3        1  4    2      3    1
3         4        4  4    3      2    3

In [4]:
y_train, y_test = train_test_split(data["unacc"] , test_size = 0.1, random_state = 1)
print (y_train.shape)
print (y_test.shape)

y_train[:5]

(1554,)
(173,)

267     3
861     3
1041    3
764     4
3       4
Name: unacc, dtype: int64

In [5]:
# Save files
x_train.to_csv("x_train.csv", index = False)
y_train.to_csv("y_train.csv", index = False)
x_test.to_csv("x_test.csv", index = False)
y_test.to_csv("y_test.csv", index = False)